// Color variables

/* graytones */
$light_gray: #f5f5f5;
$mid_gray: #d1d1d1;
$dark_gray: #9c9c9c;

/* Menus */
$main_menu_link: #b84804;

/* Background skins */
$blue-diamonds: #0b5c94;
$purple-horseshoes: #4a306e; 
$green-clovers: #306e33;