// Font-face variables

$sans_default: "Trebuchet MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif_default: "Georgia", "Times", serif;
$roboto_font: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$roboto_slab_font: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
