// Styling for the breadcrumb
.breadcrumb__wrapper {
  display: none;
  @include breakpoint($bp-md) {
    display: block;
  }
}

.breadcrumb a {
  color: $color-dk-gray;
  text-decoration: none;
  text-transform: uppercase;

  &:hover { color: $color-body-gray; }
}

.breadcrumb__wrapper {
  padding: 1rem 0;
}