// Styling for content component and child elements

.content {
  background-color: $color-white;
  padding: 0.5rem 0;
}

.content__container {
  margin: 0 auto;
  max-width: $bp-lg;
}

.content__main {
  margin: 0 1rem;
}

.content__page-title {
  font-size: 2.5rem;
  margin: 0;
  padding: 0.5rem 0 0 0;

  .cts-skin-green-clovers & {
    color: $color-green-clovers;
  }

  .cts-skin-blue-diamonds & {
    color: $color-blue-diamonds;
  }

  .cts-skin-purple-horseshoes & {
    color: $color-purple-horseshoes;
  }
}

.content__body-wrapper--menu-left {
  margin-left: 22%;
}