// Styling for the header

.header__identity {
  margin: 0 auto;
  max-width: $bp-lg;
  padding: 1rem 0;
}

.header__mdc-logo {
  margin: 0;
  width: 100%;

  a {
    background-image: url(../images/mdc-logo.png);
    background-image: url(../images/mdc-logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 6rem 0 0 0;
    width: 100%;
  }

  @include breakpoint($bp-md) {
    float: left;
    width: 20%;

    a {
      padding-top: 8rem;
    }
  }
}

.header__division-id,
.header__territory-id {
  color: $color-sub-heads;
  font-family: $font-stack-secondary;
  font-weight: $font-weight-normal;
  text-align: center;
  line-height: 1.2;

  @include breakpoint($bp-md) {
    padding-left: 1rem;
    text-align: left;
  }
}

.header__division-id {
  @include breakpoint($bp-md) {
    font-size: 2.25rem;
    margin: 0;
    padding-top: 1.5rem;
  }
}

.header__territory-id {
  @include breakpoint($bp-md) {
    font-size: 1.75rem;
  }
}