// Main menu styling

.main-menu--sidebar {
  @include breakpoint($bp-md) {
    float: left;
    width: 20%;
  }
}

.main-menu--top,
.main-menu--sidebar {
  ul.links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.links li {
    margin: 0 0 1rem;
    padding: 0;
  }

  ul.links li a {
    border-left: 0.25rem solid $color-mid-gray;
    display: block;
    font-size: 1.25rem;
    font-weight: $font-weight-bold;
    padding: 0.25rem 0 0.25rem 1.5rem;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.active {
      color: $color-link;
      border-color: $color-link;
    }
  }
}