// Menu styling

ul.links { margin: 0; }
ul.links li a { font-family: $roboto_slab_font; }
ul.inline li { padding: 0; }
ul.links li a {
  display: inline-block;
  font-weight: 500;
  padding: 10px 20px;
  &:link, &:visited { color: $main_menu_link; } 
}

/* Breadcrumb */
.breadcrumb {
  color: $light_gray;
  a { color: $light_gray;
    &:hover { color: #fff; }
  }
}

/* Main Menu */
#main-menu {
  ul li.active a {
    background-color: $light_gray;
    body.cts-skin-blue-diamonds & { background-color: lighten($blue_diamonds, 63%); }
    body.cts-skin-purple-horseshoes & { background-color: lighten($purple_horseshoes, 63%); }
    body.cts-skin-green-clovers & { background-color: lighten($green_clovers, 63%); }
  }
  .menu-sidebar & ul.links li a {
    display: block;
    padding: 10px;
  }
}

/* Secondary links (top bar) */
.header__secondary-menu {
  ul.inline li { float: right; }
  ul.inline li a {
    font-size: .8rem;
    font-family: $roboto_font;
    font-weight: 300;
    padding: 3px 10px;
    &:link, &:visited { color: $light_gray; } 
    &:hover, &:active { color: #fff; } 
  }

}