// Styling for Drupal support components
// (tabs, help, messages, etc.)

.support__main-skip-link {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}