// Media (images, video)

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}