// Typography variables

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

$font-stack-base: "Open Sans", Arial, Helvetica, sans-serif;
$font-stack-secondary: "Bitter", Georgia, Times, serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-italic: italic;